version: '2'
services:
    mysql:
      image: mysql:5.6
      ports:
        - "3306:3306"
      environment:
        - MYSQL_ROOT_PASSWORD=15961125167
        - MYSQL_USER=wxq
        - MYSQL_PASSWORD=123456
        - character-set-server=utf8
        - collation-server=utf8_unicode_ci
      volumes:
        - /catlcluster/mysql:/var/lib/mysql
      network_mode: "host"
      expose:
        - "3306"
