version: '2'
services:
  redis:
    image:  redis:4.0.8
    container_name: redis
    command: ["redis-server", "--appendonly", "yes", "--maxmemory", "0","--maxmemory-policy","allkeys-lru"]
    restart: always
    expose:
       - "6379"
    volumes:
       - /etc/localtime:/etc/localtime:ro
       - /catlcluster/redis:/var/lib/redis
       - /catlcluster/redis/data:/data
    ports:
       - "6379:6379"
